WcfAndWindowsService/WcfClientApp/Service References/CommunicatorReference/Communicator.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="WcfAndWindowsService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="WcfAndWindowsService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="WcfAndWindowsService/Imports">
      <xsd:import schemaLocation="http://localhost:8000/WcfAndWindowsService/Communicator?xsd=xsd0" namespace="WcfAndWindowsService" />
      <xsd:import schemaLocation="http://localhost:8000/WcfAndWindowsService/Communicator?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/WcfAndWindowsService/Communicator?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfAndWindowsService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICommunicator_GetLastResult_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastResult" />
  </wsdl:message>
  <wsdl:message name="ICommunicator_GetLastResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastResultResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunicator_SetMultiplier_InputMessage">
    <wsdl:part name="parameters" element="tns:SetMultiplier" />
  </wsdl:message>
  <wsdl:message name="ICommunicator_SetMultiplier_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetMultiplierResponse" />
  </wsdl:message>
  <wsdl:portType name="ICommunicator">
    <wsdl:operation name="GetLastResult">
      <wsdl:input wsaw:Action="WcfAndWindowsService/ICommunicator/GetLastResult" message="tns:ICommunicator_GetLastResult_InputMessage" />
      <wsdl:output wsaw:Action="WcfAndWindowsService/ICommunicator/GetLastResultResponse" message="tns:ICommunicator_GetLastResult_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetMultiplier">
      <wsdl:input wsaw:Action="WcfAndWindowsService/ICommunicator/SetMultiplier" message="tns:ICommunicator_SetMultiplier_InputMessage" />
      <wsdl:output wsaw:Action="WcfAndWindowsService/ICommunicator/SetMultiplierResponse" message="tns:ICommunicator_SetMultiplier_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>