WcfAndWindowsService/WcfClientApp/Service References/CommunicatorReference/Communicator1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="WcfAndWindowsService" elementFormDefault="qualified" targetNamespace="WcfAndWindowsService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/WcfAndWindowsService/Communicator?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfAndWindowsService" />
  <xs:element name="GetLastResult">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfAndWindowsService" minOccurs="0" name="GetLastResultResult" nillable="true" type="q1:DullResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMultiplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMultiplierResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>