WcfAndWindowsService/WcfClientApp/Service References/CommunicatorReference/Communicator2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfAndWindowsService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfAndWindowsService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DullResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Multiplicand" type="xs:int" />
      <xs:element minOccurs="0" name="Multiplier" type="xs:int" />
      <xs:element minOccurs="0" name="Product" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DullResult" nillable="true" type="tns:DullResult" />
</xs:schema>